@import "variables";
.header_menu,
.footer_navigation {
  @include reset-nav;
}

.header_menu-listts {
  @include flex-row;
}

.page-list > [href="twitter"] {
  background-image: img("twitter.svg");
}

.navigation-lists {
  list-style: circle;
}

.page-list--anchor {
  color: #eeeeee;
  text-transform: uppercase;
  padding: 1rem;
}

@media (min-width: 720px) {
  .page-lists {
    @include flex-row;
  }
}


